Client/Connected Services/Proxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60901/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60901/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60901/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClientLogIntoServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientLogIntoServer" />
  </wsdl:message>
  <wsdl:message name="IService_ClientLogIntoServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientLogIntoServerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ServerSendMessageToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerSendMessageToClient" />
  </wsdl:message>
  <wsdl:message name="IService_ServerSendMessageToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerSendMessageToClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ServerGetMessageFromClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerGetMessageFromClient" />
  </wsdl:message>
  <wsdl:message name="IService_ServerGetMessageFromClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerGetMessageFromClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClientLogOutOfServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientLogOutOfServer" />
  </wsdl:message>
  <wsdl:message name="IService_ClientLogOutOfServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientLogOutOfServerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientLogIntoServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClientLogIntoServer" message="tns:IService_ClientLogIntoServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClientLogIntoServerResponse" message="tns:IService_ClientLogIntoServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServerSendMessageToClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ServerSendMessageToClient" message="tns:IService_ServerSendMessageToClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ServerSendMessageToClientResponse" message="tns:IService_ServerSendMessageToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServerGetMessageFromClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ServerGetMessageFromClient" message="tns:IService_ServerGetMessageFromClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ServerGetMessageFromClientResponse" message="tns:IService_ServerGetMessageFromClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientLogOutOfServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClientLogOutOfServer" message="tns:IService_ClientLogOutOfServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClientLogOutOfServerResponse" message="tns:IService_ClientLogOutOfServer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientLogIntoServer">
      <soap:operation soapAction="http://tempuri.org/IService/ClientLogIntoServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerSendMessageToClient">
      <soap:operation soapAction="http://tempuri.org/IService/ServerSendMessageToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerGetMessageFromClient">
      <soap:operation soapAction="http://tempuri.org/IService/ServerGetMessageFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientLogOutOfServer">
      <soap:operation soapAction="http://tempuri.org/IService/ClientLogOutOfServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:60901/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>